{% extends "socialnetwork/base.html" %}

{% block title %}Login{% endblock %}

{% block nav %}
<a id="id_register_link" href="{% url 'register' %}">
    Register
</a>
{% endblock %}

{% block page_name %}
Login
{% endblock %}

{% block content %}

{{ form.non_field_errors }}

<form method="post">
    {% csrf_token %}

    <div class="form-row">
        <label for="id_username">Username:</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>

    <div class="form-row">
        <label for="id_password">Password:</label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>

    <button id="id_login_button" type="submit">
        Submit
    </button>
</form>

<br>

{% endblock %}
